.DS_Store
.firebase/

# Local Netlify folder
.netlify

# Node.js
node_modules/
dist/
build/
.npm
npm-debug.log*

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
